---
# This is the Front Matter block
---

.navbar {
  font-size: 18px;
}

.navbar-brand {
  font-size: 24px;
}

.jumbotron h1 {
  font-size: 52px;
}

.tim {
  text-align: right;
  clear:both;
}

.together {
  text-align: center;
  clear: both;
}
