<header>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand"><a href="{{ '/' | prepend: site.baseurl }}">IntroDev</a></div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ '/process' | prepend: site.baseurl }}">Our Process</a></li>
          <li><a href="{{ '/skills' | prepend: site.baseurl }}">Our Skills</a></lI>
          <li><a href="{{ '/team' | prepend: site.baseurl }}">Our Team</a></li>
          <li><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
